<div class="box">
  <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
    <h1>Trocar de senha</h1>
    <input class="mt-2" type="password" formControlName="oldPassword" placeholder="Senha antiga">
    <input class="mt-2" type="password" formControlName="password" placeholder="Nova Senha">
    <input class="mt-2" type="password" formControlName="confirmPass" placeholder="Confirmar nova Senha">
    <div class="mt-2" *ngIf="passwordForm.errors?.notSame">
      <p class="text-danger">A senha e a confirmação da senha estão diferentes</p>
    </div>
    <button class="btn mt-2" [disabled]="validate" type="submit">
      <p class="m-0">Enviar</p>
    </button>
  </form>
  <p class="c-text-white mt-2">{{message}}</p>
</div>