

.box{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
}

input{
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

button[type="submit"] {
    background: rgb(1, 29, 51);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    width: 100%;
}

button:disabled {
    background: lightgray;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    width: 100%;
}

.c-text-white{
    color: #ffffff;
}

svg{
    font-size: 25px;
    position: relative;
    top: 8px;
    margin-right: 10px;
}