<h1 style="text-align:center">

</h1>
<div class="password-recover">
  <h2 class="password-recover-header">Recuperar Senha</h2>
  <form [formGroup]="passwordRecoverForm" class="password-recover-container" (ngSubmit)="passwordRecover()">

    <div *ngIf="!isValidating" class="help-block">
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
        <input type="email" placeholder="Email" formControlName="email">
      </p>

      <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
        <div *ngIf="formControls.email.errors.required">Email é obrigatório</div>
      </div>
    </div>

    <div *ngIf="isValidating" class="help-block">
      <p [ngClass]="{ 'has-error': isSubmitted && isValidating && formControls.codigo.errors }">
        <input type="codigo" placeholder="Codigo" formControlName="codigo">
      </p>

      <div *ngIf="isSubmitted && isValidating && formControls.codigo.errors" class="help-block">
        <div *ngIf="formControls.codigo.errors.required">Código é obrigatório</div>
      </div>

      <p [ngClass]="{ 'has-error': isSubmitted&& isValidating && formControls.newPassword.errors }">
        <input type="password" placeholder="Senha" formControlName="newPassword">
      </p>

      <div *ngIf="isSubmitted && isValidating && formControls.newPassword.errors" class="help-block">
        <div *ngIf="formControls.newPassword.errors.required">Senha é obrigatório</div>
      </div>
    </div>
    <p>
      <input type="submit" value="Ok">
    </p>
    <p>
      <button type="button" (click)="telaLogin()">Voltar</button>
    </p>
  </form>
  <p>
    {{mensagemRetorno}}
  </p>
</div>